.part1container {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* align-items: center; */
}

.panel {
    position: relative;
    font-size: 1em;
    text-align: right;
    left: 100%;
    right: 0;
    width: 400px;
    min-height: 100vh;
    /* margin: 20rem 0; */
}

.panel:nth-child(even) {
    text-align: left;
    right: 100%;
    left: -100%;
}