.section1 {
    height: 250px;
    /* border: 1px solid green; */
    margin: 1rem;

}

ul {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;   
    border: 1px solid var(--color-gray-400);
    border-radius: 25px;
    width: 12rem;
}

.card h1 {
    font-weight: bold;
    font-size: 1rem;
    text-align: start;
    padding: 0.3rem 1rem 0;
    margin: 0.3rem;
    
}

.card p {
    
    font-size: .8rem;
    text-align: start;
    padding: 0rem 1rem;
    margin: 0.3rem 0.3rem 0.6rem;
}

.span {
    height: 300px;
    width: 100%;
    background-color: var(--color-gray-300);
    border-radius: 25px 25px 0 0;
}